<app-navbar></app-navbar>
<div class="mx-3">
  <div class="table-responsive mt-5">
    <table class="table table-bordered" dir="rtl">
      <thead>
        <th colspan="2" class="bg-light">
          <h4 class="text-primary text-center">تفاصيل الإبلاغ أو الشكوى</h4>
        </th>
      </thead>
      <tbody class="text-center">
        <!-- <tr>
          <td class="w-25 text-primary f-19">الرقم</td>

          <td>{{ (item | async)?.id }}</td>
        </tr> -->
        <tr>
          <td class="w-25 text-primary f-19">التاريخ</td>

          <td>{{ (item | async)?.date | date: "hh:mm - dd/MM/yyyy" }}</td>
        </tr>

        <tr>
          <td class="w-25 text-primary f-19">المحتوى</td>
          <td>{{ (item | async)?.problemDescription }}</td>
        </tr>
        <tr>
          <td>المحتوى الصوري</td>
          <td>
            <img
              src="{{ getImageURL((item | async)?.problemImage) }}"
              alt=""
              width="400px"
              height="auto"
            />
          </td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">الموقع</td>

          <td>
            {{ (item | async)?.locationDescription }}

            <a
              [attr.href]="
                'http://www.google.com/maps/place/' +
                (item | async)?.locationPoints
              "
              *ngIf="(item | async)?.locationPoints != ''"
              ><i class="fa fa-map-marker mx-3 text-success"></i
            ></a>
          </td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">رقم الهاتف للمحتوى</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">
            ملاحظات إضافية من الجهة المرسلة
          </td>

          <td>لا يوجد</td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">الحالة</td>
          <td *ngIf="disabledSelect == false">
            <div class="row text-center justify-content-center">
              <select
                name=""
                id=""
                class="custom-select col-6"
                (change)="onChangeStatus($event.target.value)"
              >
                <option
                  *ngIf="(item | async)?.status != 'قيد الانتظار'"
                  value="قيد الانتظار"
                >
                  قيد الانتظار
                </option>
                <option
                  *ngIf="(item | async)?.status == 'قيد الانتظار'"
                  selected
                  value="قيد الانتظار"
                >
                  قيد الانتظار
                </option>
                <option
                  *ngIf="(item | async)?.status != 'قيد المتابعة'"
                  value="قيد المتابعة"
                >
                  قيد المتابعة
                </option>
                <option
                  *ngIf="(item | async)?.status == 'قيد المتابعة'"
                  selected
                  value="قيد المتابعة"
                >
                  قيد المتابعة
                </option>
                <option
                  *ngIf="(item | async)?.status != 'تم حلها'"
                  value="تم حلها"
                >
                  تم حلها
                </option>
                <option
                  *ngIf="(item | async)?.status == 'تم حلها'"
                  selected
                  value="تم حلها"
                >
                  تم حلها
                </option>
                <option
                  *ngIf="(item | async)?.status != 'تم رفضها'"
                  value="تم رفضها"
                >
                  تم رفضها
                </option>
                <option
                  *ngIf="(item | async)?.status == 'تم رفضها'"
                  selected
                  value="تم رفضها"
                >
                  تم رفضها
                </option>
              </select>
              <button
                class="btn btn-success mr-3 px-3"
                (click)="confirmStatus()"
              >
                تأكيد
              </button>
            </div>
          </td>
          <td *ngIf="disabledSelect == true">
            {{ (item | async)?.status }}

            <i
              class="fa fa-pencil-square-o mx-3 text-success"
              (click)="editStatus()"
            ></i>
          </td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">
            ملاحظات إضافية من الجهة المستقبلة
          </td>

          <td *ngIf="disabledNotes == true">
            <p>{{ getAdminNotes((item | async)?.adminNotes) }}</p>
            <i
              class="fa fa-pencil-square-o mx-3 text-success"
              (click)="editAditionalNotes()"
            ></i>
          </td>
          <td *ngIf="disabledNotes == false">
            <div class="row text-center justify-content-center">
              <textarea
                class="form-control col-6"
                rows="3"
                #notes
                [value]="getAdminNotes((item | async)?.adminNotes)"
              >
              </textarea>
              <button
                class="btn btn-success mr-3 px-3 h-50"
                (click)="confirmNotes(notes.value)"
              >
                تأكيد
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="bg-light">
            <h4 class="text-primary text-center">معلومات المرسل</h4>
          </td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">الاسم</td>
          <td>{{ (item | async)?.username }}</td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">الرقم الوطني</td>
          <td>{{ (item | async)?.nationalID }}</td>
        </tr>
        <tr>
          <td class="w-25 text-primary f-19">رقم الهاتف عند التسجيل</td>
          <td>{{ (item | async)?.mobilePhone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--<app-navbar></app-navbar>

<div class="row p-0 m-0">
  <div class="col-md-12">
    <div class="card border-0">
      <div class="card-body">
        <div class="text-center mt-3">
          <a *ngIf="show1 == 1" style="float: right" class="p-3">
            <i
              class="fa fa-minus text-primary"
              aria-hidden="true"
              (click)="minimize1()"
            ></i>
          </a>
          <a *ngIf="show1 == 0" style="float: right" class="p-3 pb-5">
            <i
              class="fa fa-plus text-primary"
              aria-hidden="true"
              (click)="maximize1()"
            ></i>
          </a>
          <h4 class="text-primary mb-5">تفاصيل الإبلاغ أو الشكوى</h4>
          <div *ngIf="show1 == 1" dir="rtl" class="pt-5">
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الرقم</f-19>
              <p class="col-md-9 f-19">1</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">التاريخ</f-19>
              <p class="col-md-9 f-19">17/10/1997</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الوقت</f-19>
              <p class="col-md-9 f-19">12:30:30</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الحالة</f-19>
              <p class="col-md-9 f-19">قيد الانتظار</p>
            </div>

            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">المحتوى</f-19>
              <p class="col-md-9 f-19">
                <img
                  src="../../assets/logo.png"
                  alt=""
                  height="auto"
                  width="auto"
                />
              </p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الموقع</f-19>
              <p class="col-md-9 f-19">عمان / خلدا</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">رقم الهاتف للمحتوى</f-19>
              <p class="col-md-9 f-19">لا يوجد</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">ملاحظات إضافية</f-19>
              <p class="col-md-9 f-19">0798022719</p>
            </div>
          </div>
          <hr class="m-5" />
          <a *ngIf="show2 == 1" style="float: right" class="p-3">
            <i
              class="fa fa-minus text-primary"
              aria-hidden="true"
              (click)="minimize2()"
            ></i>
          </a>
          <a *ngIf="show2 == 0" style="float: right" class="p-3 pb-5">
            <i
              class="fa fa-plus text-primary"
              aria-hidden="true"
              (click)="maximize2()"
            ></i>
          </a>
          <h4 class="text-primary mb-5">المرسل</h4>
          <div *ngIf="show2 == 1" dir="rtl">
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الاسم</f-19>
              <p class="col-md-9 f-19">سندس محمد رفاعي مراشدة</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الرقم الوطني</f-19>
              <p class="col-md-9 f-19">09999999999</p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">رقم الهاتف عند التسجيل</f-19>
              <p class="col-md-9 f-19">0798880575</p>
            </div>
          </div>
          <hr class="m-5" />
          <a *ngIf="show4 == 1" style="float: right" class="p-3">
            <i
              class="fa fa-minus text-primary"
              aria-hidden="true"
              (click)="minimize4()"
            ></i>
          </a>
          <a *ngIf="show4 == 0" style="float: right" class="p-3 pb-5">
            <i
              class="fa fa-plus text-primary"
              aria-hidden="true"
              (click)="maximize4()"
            ></i>
          </a>
          <h4 class="text-primary mb-5">إضافة تعديلات</h4>
          <div *ngIf="show4 == 1" dir="rtl">
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">الحالة</f-19>
              <p class="col-md-9 f-19">
                <select name="" id="" class="custom-select">
                  <option value="">قيد الانتظار</option>
                  <option value="">قيد المتابعة</option>
                  <option value="">تم حلها</option>
                  <option value="closed">تم رفضها</option>
                </select>
              </p>
            </div>
            <div class="row mb-4">
              <f-19 class="text-primary col-md-3 f-19">ملاحظات للجهة المرسلة</f-19>
              <p class="col-md-9 f-19">
                <textarea class="form-control" rows="5"> </textarea>
              </p>
            </div>
          </div>
          <hr class="m-5" />
        </div>
      </div>
    </div>
  </div>
</div>
-->
